CORS_ORIGIN_ALLOW_ALL=False
CORS_ORIGIN_WHITELIST={{ _service_url | default('http://localhost:8000') }}
DB_HOST=postgres
DB_NAME=netbox
DB_PASSWORD={{ secrets.postgres_password }}
DB_USER=netbox
EMAIL_FROM=netbox@uhstray.io
EMAIL_PASSWORD=
EMAIL_PORT=25
EMAIL_SERVER=localhost
EMAIL_SSL_CERTFILE=
EMAIL_SSL_KEYFILE=
EMAIL_TIMEOUT=5
EMAIL_USERNAME=netbox
EMAIL_USE_SSL=false
EMAIL_USE_TLS=false
GRAPHQL_ENABLED=true
MEDIA_ROOT=/opt/netbox/netbox/media
METRICS_ENABLED=false
REDIS_CACHE_DATABASE=1
REDIS_CACHE_HOST=redis-cache
REDIS_CACHE_INSECURE_SKIP_TLS_VERIFY=false
REDIS_CACHE_PASSWORD={{ secrets.redis_cache_password }}
REDIS_CACHE_SSL=false
REDIS_DATABASE=0
REDIS_HOST=redis
REDIS_INSECURE_SKIP_TLS_VERIFY=false
REDIS_PASSWORD={{ secrets.redis_password }}
REDIS_SSL=false
RELEASE_CHECK_URL=https://api.github.com/repos/netbox-community/netbox/releases
SECRET_KEY={{ secrets.secret_key }}
API_TOKEN_PEPPER_1={{ secrets.api_token_peppers }}
SKIP_SUPERUSER=true
WEBHOOKS_ENABLED=true
