POSTGRES_DB=netbox
POSTGRES_PASSWORD={{ secrets.postgres_password }}
POSTGRES_USER=netbox

# Diode database (created by init-db.sh on first startup)
DIODE_POSTGRES_DB_NAME=diode
DIODE_POSTGRES_USER=diode
DIODE_POSTGRES_PASSWORD={{ secrets.diode_postgres_password }}

# Hydra database (created by init-db.sh on first startup)
HYDRA_POSTGRES_DB_NAME=hydra
HYDRA_POSTGRES_USER=hydra
HYDRA_POSTGRES_PASSWORD={{ secrets.hydra_postgres_password }}
